.about {
  padding: 3rem;
  margin-top: 4rem;
  background-color: #f2f6f9;
}

.about__header > h2 {
  margin-bottom: 12px;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  color: hsl(233, 26%, 24%);
}

.about__header > p {
  margin-bottom: 36px;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  line-height: 26px;
  color: hsl(233, 8%, 62%);
}

.about__cards {
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

.about__cards > .card {
  text-align: center;
  margin: 1.5rem auto;
}

.card__image {
  margin-bottom: 2rem;
}

.card > h3 {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
  color: hsl(233, 26%, 24%);
}

.card > p {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
  color: hsl(233, 8%, 62%);
}
