.btn {
  width: 190px;
  height: 42px;
  border-radius: 24px;
  font-size: 1.8rem;
  font-weight: 400;
  color: hsl(0, 0%, 98%);
  background: rgb(49, 211, 92);
  background: linear-gradient(
    90deg,
    rgba(49, 211, 92, 1) 0%,
    rgba(43, 183, 218, 1) 100%
  );
  outline: none;
  border: none;
  transition: all 0.3s ease;
}

.btn:hover {
  color: hsl(0, 0%, 98%);
  opacity: 0.8;
  cursor: pointer;
  background: linear-gradient(
    45deg,
    rgba(43, 183, 218, 1) 0%,
    rgba(49, 211, 92, 1) 100%
  );
}
