.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background-color: rgb(92 91 160);
  padding: 5rem 3rem;
}

.footer__logo-social > img {
  width: 205px;
  margin-bottom: 3rem;
}

.social {
  display: flex;
  justify-content: space-between;
}

.social img {
  height: 26px;
}

.footer__links div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__links a {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  color: hsl(0, 0%, 98%);
  text-decoration: none;
}

.footer__logo-social > img:hover,
.footer__links a:hover {
  cursor: pointer;
}

.footer__cta {
  height: 99px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer__cta p {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 20px;
  color: hsl(233, 8%, 62%);
}

@media only screen and (min-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__links {
    width: 40%;
    display: flex;
  }

  .footer__links div {
    margin-right: 4rem;
    align-items: flex-start;
  }
}
