.hero {
  width: 100%;
  height: calc(100vh - 64px);
}

.hero__image {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url(../images/image-mockups.png),
    url(../images/bg-intro-mobile.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero__cta {
  padding: 3rem;
}

.hero__cta > h1 {
  margin-bottom: 12px;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  color: hsl(233, 26%, 24%);
}

.hero__cta > p {
  margin-bottom: 36px;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  line-height: 26px;
  color: hsl(233, 8%, 62%);
}

.hero__cta-btn {
  text-align: center;
}
