nav {
  padding: 0 6rem;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(233, 233, 233, 0.65);
}

.nav__logo {
  margin: 12px 0;
}

.nav__logo:hover {
  cursor: pointer;
}

.nav__toggle > i {
  font-size: 1.8rem;
  color: #7b7c7e;
}

.nav__toggleable {
  display: none;
}

.nav__toggleable--show {
  display: flex !important;
}

.nav__menu {
  margin-top: 12px;
  flex-direction: column;
}

.nav__menu > a {
  height: 40px;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  color: #7b7c7e;
  text-decoration: none;
  text-align: center;
}

.nav__menu > a:hover {
  border-bottom: 2px solid #31d35c;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  nav {
    flex-direction: row;
  }

  .nav__toggle {
    display: none;
  }

  .nav__toggleable {
    display: block;
  }
}
